<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDTVJ-zc9CjRSYwT1UfadBJK3j4Fzl8LW4</string>
	<key>GCM_SENDER_ID</key>
	<string>1083588345853</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.name.studygroups</string>
	<key>PROJECT_ID</key>
	<string>study-groups-afd43</string>
	<key>STORAGE_BUCKET</key>
	<string>study-groups-afd43.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1083588345853:ios:9a10d07b63a8acb14f6394</string>
</dict>
</plist>